.page-content{
    background-color: rgba(204, 204, 204, 0.864);
    margin-top: 56px;
    margin-left: 200px;
    
}
.page-content-header{
    display: flex;
    justify-content: space-between;
    padding:24px 24px 0;

}
.page-content-title{
    font-size: 24px;
    font-weight: 700;
}
.m-paging{
    margin:0 16px;
    position: sticky;
    z-index: 30;
    bottom: 0;
    background-color: #fff;
}
