
.header{
    position: fixed;
    display: flex;
    height: 56px;
    width: calc(100% - 200px);
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 200px;
    top: 0;
}

.m-logo-icon{
    height: 32px;
}
.header .m-company-name{
    display: flex;
}
.m-company-name .m-header-icon{
    margin-left: 8px;
}
.m-company-name .m-branch-name{
    padding: 4px 8px;
    font-weight: 700;
}
.m-company-name .m-navbar-icon{
    margin-top: 4px;
}
.m-user-name{
    display: flex;
    padding-right: 32px;
}
.m-user-image{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.m-user-name .m-user-image{
padding:0 16px ;
}
.m-user-name .m-user{
    padding-right: 8px;
    font-weight: 700;
}