.m-search-area{
    display: flex;
    align-items: center;
    align-self: end;
    margin: 16px;
}

.m-search-area-content{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    width: 230px;
    border-radius: 4px;
}
.m-refresh-btn{
    margin-left: 8px;
}
.m-button{
    font-weight: 700;
}

/* Khi nhập liệu thì viền thẻ input đổi màu */
.m-search-area-content:active{
    border: 1px solid #2ca01c;
}
.m-search-area-content:hover{
    outline: 1px solid #e2e2e2;
}
.m-search-area-content::placeholder{
    color: #bbb;
    font-size: 12px;
}

.m-input-icon{
    align-items: center;
}
