.table-content{
    background-color: #fff;
    border-radius: 4px;
    display: block;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}
.wrap-table{
    overflow: auto;
    /* position: relative; */

}
.m-table{
  width: 100%;
  border-collapse:collapse;
}

.m-table tr{
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.m-table tr th{
    text-transform: uppercase;
    vertical-align: middle;
    
}
.m-table tr td,th{
    border-right: 1px solid #ccc;
    padding-left: 16px;
    padding-right: 16px;
    white-space:nowrap;
    /* background-color: #fff; */
    z-index:auto;
}

.m-table tbody tr button{
    color: #0075C0;
    font-weight: 700px;
    background:none;
    border: none;
    cursor: pointer;
}
.m-table tbody tr:hover td,th{
    background-color: #e5e8ec;
}
.m-table tbody tr:active{
    cursor: pointer;
    background-color: #96D58A;
}

.m-table .text-align-left{
    text-align: left;
}
.m-table .text-align-right{
    text-align: right;
}
.m-table .text-align-center{
    text-align: center;
}
/* Dùng position:sticky để cố định cột đầu và cột cuối của table */
.m-table thead th:first-child,
.m-table tbody td:first-child,
.m-table thead th:last-child,
.m-table tbody td:last-child{
    position: sticky;
    left: 0;
    right: 0;
    /* z-index: 1; */
}
.m-table tbody td:first-child,
.m-table tbody td:last-child{
    background-color: #fff;

}
.m-table thead th:last-child,
.m-table tbody td:last-child{
    border-right: none !important;
}
.show-contexMenu{
    z-index: 1;
}

