.child-of-tooltips{
  position: absolute;
  opacity: 0.8;
  text-transform: none;
  background-color: #ccc;
  padding: 4px;
  border-radius: 4px;
  margin-top: 4px;
  left: 0;
  
  display: none;
}

.parent-of-tooltips{
  position: relative;
}
.parent-of-tooltips:hover .child-of-tooltips{
  display: block;
}
